.Todo {
  display: flex;
  margin: 0 -3rem 4px;
  padding: 1.1rem 3rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}
@media (max-width: 680px) {
  .Todo1 {
    display: block !important;
    position: relative;
    right: 21px;
  }
}
.Todo1 {
  display: flex;
  margin: 0 -3rem 4px;
  padding: 1.1rem 3rem;
  height: 13px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s ease;
}
.Todo1:hover {
  height: 40px;
  transition: all 0.2s ease;
}
.Todo1 li {
  width: fit-content;
}
.Todo1:hover button {
  display: flex;
  transition: all 0.7s ease;
}
.Todo-task {
  position: relative;
  transition: opacity 0.4s linear;
}
.Todo-task.completed {
  opacity: 0.6;
}
.Todo-task.completed:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -0.5rem;
  display: block;
  width: 0%;
  height: 2px;
  background: #fff;
  animation: strikeitem 0.5s ease-out 0s forwards;
}
@keyframes strikeitem {
  to {
    width: calc(100% + 1rem);
  }
}
.botones {
  display: flex;
}
@media (max-width: 680px) {
  .botones {
    margin-top: 10px;
  }
}
.botones span {
  margin-top: 3px !important;
}
.botones button {
  padding: 1px 10px;
  border-radius: 5px;
  border: none;
  background: none;
  position: relative;
  background-color: #fff;
  display: none;
  width: 0%;
  animation: buton 0.5s ease-out 0s forwards;
}
.botones button:hover {
  cursor: pointer;
}
@keyframes buton {
  to {
    width: calc(100%);
  }
}

.botones button:last-child {
  margin-left: 5px;
}
img {
  width: 20px;
}
